*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 80%;
    margin: 0 auto;
}

.logo,
.nav{
    text-align: center;
}

img{
    width: 500px;
    height: auto;
    margin-bottom: 50px;
}

.nav input{
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
}

.nav button{
    font-size: 20px;
    margin-left: 10px;
    border-radius: 10px;
    padding: 10px;
}

ul{
    list-style: none;
}

li{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
    margin: 10px 0;
}

.tasks{
    margin-top: 100px;
    font-size: 40px;
}